* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
body {
  color: #222;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 200;
  margin: 0 50px;
}
.react-draggable, .cursor {
  cursor: move;
}
.no-cursor {
  cursor: auto;
}
.cursor-y {
  cursor: ns-resize;
}
.cursor-x {
  cursor: ew-resize;
}
.react-draggable strong {
  background: #ddd;
  border: 1px solid #999;
  display: block;
  margin-bottom: 10px;
  padding: 3px 5px;
  text-align: center;
}

.drag-wrapper {
  border: 2px solid #3a3a3a;
}

.drag-wrapper {
  background: #ddd;
  width: 100%;
  height: 100%;
}

.handle {
  background: #3a3a3a;
  width: 100%;
  height: 25px;
  color: #c5c8c6;
  font-size: 14px;
  /* text-align: center; */
  /* vertical-align: middle; */
  /* line-height: 25px; */
  /* position: relative; */
}

.text-vert-center {
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
}

.content {
  width: 100%;
  /* height: 100%; */
  height: calc(100% - 25px);
}

#mountDiv {
  max-width: 100%;
  max-height: 100%;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}

.cells path {
  fill: none;
  pointer-events: all;
}

.cells :hover circle {
  fill: red;
}
