@import '../variables';

#window-network-content > div {
  margin: 0 !important;
  width:  100%;
  height: 100%;
}

.network-node {
                fill: $network-normal-node-fill;
              stroke: $network-normal-node-stroke;
        stroke-width: $network-normal-node-stroke-width;
             opacity: $network-normal-node-opacity;
          transition: $opacity-animation, $fill-animation;
              cursor: pointer;
              cursor: hand;
  
  &.cluster-hover {
          transition: $opacity-animation, $fill-animation;
    &.cluster0 {
                fill: $cluster0;
    }
    &.cluster1 {
                fill: $cluster1;
    }
    &.cluster2 {
                fill: $cluster2;
    }
    &.cluster3 {
                fill: $cluster3;
    }
    &.cluster4 {
                fill: $cluster4;
    }
    &.cluster5 {
                fill: $cluster5;
    }
    &.cluster6 {
                fill: $cluster6;
    }
    &.cluster7 {
                fill: $cluster7;
    }
    &.cluster8 {
                fill: $cluster8;
    }
    &.cluster9 {
                fill: $cluster9;
    }
  }

  &.node-greyed-out {
                fill: $network-greyedOut-node-fill;
              stroke: $network-greyedOut-node-stroke;
        stroke-width: $network-greyedOut-node-stroke-width;
             opacity: $network-greyedOut-node-opacity;
          transition: $opacity-animation, $fill-animation;
  }

  &.hover-node {
                fill: $network-hover-node-fill;
              stroke: $network-hover-node-stroke;
        stroke-width: $network-hover-node-stroke-width;
          transition: $opacity-animation, $fill-animation;
  }

  &.secondary-hover-node {
                fill: $network-hover-node-sec-fill;
              stroke: $network-hover-node-sec-stroke;
        stroke-width: $network-hover-node-sec-stroke-width;
          transition: $opacity-animation, $fill-animation;
  }

  &.focus-node {
                fill: $network-focus-node-fill;
              stroke: $network-focus-node-stroke;
        stroke-width: $network-focus-node-stroke-width;
          transition: $opacity-animation, $fill-animation;
  }

  &.secondary-focus-node {
                fill: $network-focus-node-sec-fill;
              stroke: $network-focus-node-sec-stroke;
        stroke-width: $network-focus-node-sec-stroke-width;
          transition: $opacity-animation, $fill-animation;
  }
}

.line-network {
              stroke: $network-normal-link-stroke;
    stroke-dasharray: $network-normal-link-stroke-dasharray;
             opacity: $network-normal-link-opacity;
          transition: $opacity-animation, $fill-animation;

  &.hover-line-network {
              stroke: $network-hover-link-sec-stroke;
    stroke-dasharray: $network-hover-link-sec-stroke-dasharray;
          transition: $stroke-animation, $opacity-animation;
  }

  &.line-greyed-out {
              stroke: $network-greyedOut-link-stroke;
    stroke-dasharray: $network-greyedOut-link-stroke-dasharray;
             opacity: $network-greyedOut-link-opacity;
          transition: $opacity-animation, $fill-animation;
  }

  &.focus-line-network {
              stroke: $network-focus-link-sec-stroke;
    stroke-dasharray: $network-focus-link-sec-stroke-dasharray;
          transition: $stroke-animation, $opacity-animation;
  }
}