{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "plugins": [
        "react",
        "jsx-a11y",
        "import"
    ],
    "rules":{
        "react/jsx-filename-extension": "off",
        "no-underscore-dangle": "off",
        "no-param-reassign": "off",
        "max-len": "off",
        "import/no-extraneous-dependencies": "off"
    }
}