$opacity-normal: 1;
$opacity-animation-time: 0.5s;
$opacity-animation: opacity $opacity-animation-time ease;

.cluster-toolip-text {
  opacity: 0;
  -webkit-transition: $opacity-animation;
     -moz-transition: $opacity-animation;
      -ms-transition: $opacity-animation;
       -o-transition: $opacity-animation;
          transition: $opacity-animation;
}

.cluster-toolip-text.hover-tn {
  opacity: $opacity-normal;
  -webkit-transition: $opacity-animation;
     -moz-transition: $opacity-animation;
      -ms-transition: $opacity-animation;
       -o-transition: $opacity-animation;
          transition: $opacity-animation;
}