$hover-fill: #ff1111;

$opacity-normal: 1;
$opacity-greyed-out: 0.1;

$opacity-animation-time: 0.5s;
$fill-animation-time: 0.2s;
$opacity-animation: opacity $opacity-animation-time ease;
$fill-animation: fill $fill-animation-time ease;

.cluster-node {
  opacity: $opacity-normal;
  cursor: pointer;
  cursor: hand;
  transition: $opacity-animation, $fill-animation;

  &.node-greyed-out {
    opacity: $opacity-greyed-out;
    transition: $opacity-animation;
  }

  &.hover-node {
    fill: $hover-fill;
    opacity: $opacity-normal;
    transition: $opacity-animation, $fill-animation;
  }

  &.node-greyed-out.hover-node {
    opacity: $opacity-greyed-out;
    transition: $opacity-animation;
  }
  
  &.focus-node {
    stroke: black;
    stroke-width: 2px;
    transition: $fill-animation;
  }
}