.highlight {
  margin-right: 10px !important;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
	cursor: pointer;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
	background-color: rgb(48, 73, 155) !important;
	color: white !important;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
  background-color: #d3394c;
}

.inputfile-1 + label {
  color: #f1e5e6;
  background-color: #d3394c;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
  background-color: #722040;
}