$fill-hover: rgb(255, 255, 255);
$color-hover: rgb(0, 0, 0);
$fill-animation-time: 0.2s;
$fill-animation: background-color $fill-animation-time ease;
$color-animation: color $fill-animation-time ease;

.item {
  -webkit-transition: $fill-animation;
     -moz-transition: $fill-animation;
      -ms-transition: $fill-animation;
       -o-transition: $fill-animation;
          transition: $fill-animation;
}

.item.hover-node {
  background-color: $fill-hover !important;
  color: $color-hover !important;
  -webkit-transition: $fill-animation, $color-animation;
     -moz-transition: $fill-animation, $color-animation;
      -ms-transition: $fill-animation, $color-animation;
       -o-transition: $fill-animation, $color-animation;
          transition: $fill-animation, $color-animation;
}
